.owner{
    margin-top: 2%;
    margin-bottom: 1%;
    display: block; 
}
.alert > span{
    color: rgb(255, 0, 0);
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0.5em;
    margin-left: 18%;
}
.invisible{
    visibility:hidden;
}