
<app-top-bar [titulo]="titlePage"></app-top-bar>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 

<div class="dados">
    <h2>Dados Pessoais</h2>
    <div class="dados1">  

            <label>Nome Completo</label>
            <input type="text" id="name"  required="required" size="50">

            <label>Email</label>
            <input id="email" required="required" size="50">

            <label>Login</label>
            <input id="login" required="required" size="50">

            <label>CPF</label>
            <input name="cpf" type="text" id="document" required="required" size="50">
        
            
            <label >Telefone</label>
            <input type="text" name="phone" id="phone">
        <diV class="dalisa">
            <div class="senha">
                <label>Senha</label>
                <input type="password" name="passwd" id="passwd">
            </div>
            <div>
                <label>Confirme sua Senha</label>
                <input type="password" name="CSenha" id="CSenha">
            </div>            
        </diV>            
            <label>Data de Nascimento</label>
            <input type="date" id="date_of_birth">
            
        </div>
    </div>
    
<div class="endereco">

    <h2>Endereço</h2>
    
    <div class="dados2">

        <label>CEP</label>
        <input type="text" name="postal_code" id="postal_code">

        <label>Logradouro</label>
        <input type="text" name="street" id="street">
        
        <label>Cidade</label>
        <input type="text" name="city" id="city">
        
        <label>Estado</label>
        <input type="text" name="state" id="state">
        
        <label>País</label>
        <input type="text" name="country" id="country">

    </div>
    
</div>

<div class="botao">
    <button type="button" (click)="save()" >Cadastrar</button>
</div>


