<app-top-bar [titulo]="titlePage"></app-top-bar>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
<div *ngIf="product">
    <div class="productsComponent">
        <div class="box2">

            <img class="fto" src={{product.image}}> 

            
            
        </div>
        <div class="box1"> 
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <h6 class="priceProductDetail">{{product.price | currency: 'BRL'}}</h6>
            <div class="botaos">
                <button class="bota">Purchase</button>
                <button class="bota1" (click)="addWishList(product.idStocks)">Add WishList</button>
            </div>
           
        </div>
    
    </div>
</div>