<app-top-bar [titulo]="titlePage"></app-top-bar>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 

<div class="register-box">
    <h1>Mudança de Endereço</h1>
    <br><br>
    <input type="text" placeholder="Street">
    <br>
    <input type="text" placeholder="Postal code">
    <br>
    <input type="text" placeholder="City">
    <br>
    <input type="text" placeholder="State">
    <br>
    <input type="text" placeholder="Country">
    <br><br><br>
    <div class="button">
        <button>Salvar Mudanças</button>
    </div>
    <br>
</div>