<a [routerLink]="['/']">
        <div>
            <img class="icon" src="..\assets\logo3.png">
        </div>
</a>

<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
	  <a class="navbar-brand mb-2 mb-lg-0" href="#">Home</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto ">
		</ul>
		<ul class="navbar-nav me-end ">
		
			<li class="nav-item dropdown dropstart">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-person" viewBox="0 0 16 16">
					<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
				  </svg>
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li *ngIf="Token==null && TokenOwner==null"><a class="dropdown-item" [routerLink]="['/client/login']">Login</a></li>
				<li *ngIf="Token!=null && TokenOwner==null"><a class="dropdown-item">Olá, {{ClientName}}!</a></li>
                <li *ngIf="TokenOwner!=null && Token==null"><a class="dropdown-item">Olá, {{OwnerName}}!</a></li>	
				<li *ngIf="Token==null && TokenOwner==null"><a class="dropdown-item" [routerLink]="['/client/register']">Register</a></li>
				<li *ngIf="Token!=null || TokenOwner!=null"><hr class="dropdown-divider"></li>
				<li *ngIf="Token!=null || TokenOwner!=null"><a class="dropdown-item"  [routerLink]="['/client/profile']">Profile</a></li>
				<li *ngIf="Token!=null || TokenOwner!=null"><a class="dropdown-item"  [routerLink]="['/client/wishlist']">WishList</a></li>
				<li *ngIf="Token!=null || TokenOwner!=null"><a class="dropdown-item"  [routerLink]="['/client/wishlist']">Carrinho</a></li>
				<li  *ngIf="TokenOwner!=null"><hr class="dropdown-divider"></li>
				<li  *ngIf="TokenOwner!=null"><a class="dropdown-item" [routerLink]="['/store/register']">Cadastrar Loja</a></li>
				<li  *ngIf="TokenOwner!=null"><a class="dropdown-item" [routerLink]="['/store/register']">Cadastrar Produtos</a></li>
				<li *ngIf="Token!=null || TokenOwner!=null"><a class="dropdown-item" (click)="logout()" [routerLink]="['/client/login']">Sair</a></li>
			  </ul>
			</li>
		  
		  </ul>
	  </div>
	</div>
  </nav>